.InboxHeader__xmtp {
  flex: 0 0 var(--sidebar-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  /*border-right: 1px solid #ccc;*/
}

.InboxHeader__actions {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.InboxConversations {
  /* width: 75%; */
  /* flex-grow: 1; */
  display: flex;
  min-height: 0;
}

.InboxConversations__list {
  overflow-y: hidden;
  overflow-x: hidden;
  flex: 0 0 var(--sidebar-width);
  height: inherit;
  min-height: 100vh;
  background-color: white !important;
  width: 400px;
}

.InboxConversations__messages {
  flex-grow: 1;
  /* width: 80%;1 */
  display: flex;
  background-color: white !important;
  flex-direction: column;
  max-width: 1100px;
}

.InboxConversations__messages > :nth-child(2) {
  /* width: 800px; */
  /* width: 75%; */
  flex-grow: 1;

  overflow: auto;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

sidebar-buttons {
  background-color: #fff;
  color: #20826c;
  display: block;
  height: 80px;
  position: relative;
  text-decoration: none;
  width: 80px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}
:root {

  --secondary-glow: conic-gradient(at 100% 100%, rgb(173,216,230), rgb(135,206,250));
  /* Alternative color combinations for --third-glow */

  --third-glow: conic-gradient(at 50% 0%, rgb(135,206,250),rgb(173,216,230))
}






.mask {
  align-items: center;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 40%;
  mask-size: 40%;
  -webkit-mask-position: 50px 0px;
  mask-position: 50px 0px;
  background-color: rgb(31, 180, 176);
  /* color: #34353c; */
}


.landing::before,
.landing::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0.8
}

.landing::before {
  background: var(--third-glow);
  border-radius: 80%;
  width: 50vw;
  height: 50vw;
  margin-left: -200px;
  filter: blur(90px);
  top: calc(50vh - 50vw/2);
  left: calc(50vw);
}

.landing::after {
  background: var(--secondary-glow);
  border-radius: 80%;
  width: 50vw;
  height: 50vw;
  filter: blur(90px);
  top: calc(50vh - 50vw/2);
  left: calc(35vw - 50vw/2);
}

.card-2 {
  max-width: 800px !important;
  position: relative;
  padding: 25px;
  box-shadow:
    0px 15px 20px rgba(0, 0, 0, 0.01),
    0px 37px 22px rgba(0, 0, 0, 0.05),
    0px 29px 29px rgba(0, 0, 0, 0.09),
    0px 10px 21px rgba(0, 0, 0, 0.1),
    0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  margin-bottom: 45px;
}
