


.InboxHeader__xmtp {
  flex: 0 0 var(--sidebar-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  /*border-right: 1px solid #ccc;*/
}

.InboxHeader__actions {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.InboxConversations {
  flex-grow: 1;
  display: flex;
  min-height: 0;
}

.InboxConversations__list {
  overflow-y: hidden;
  flex: 0 0 var(--sidebar-width);
  height: 100vh;
  background-color: white !important;
  min-width: 400px;
}

.InboxConversations__messages {
  flex-grow: 1;
  display: flex;
  background-color: white !important;
  flex-direction: column;
}

.InboxConversations__messages > :nth-child(2) {
  flex-grow: 1;
  overflow: auto;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

sidebar-buttons {
  background-color: #fff;
  color: #20826c;
  display: block;
  height: 80px;
  position: relative;
  text-decoration: none;
  width: 80px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}
nav li a i {
  position: relative;
  z-index: 1;
}
nav li a .inner {
  background-color: #20826c;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  width: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
nav li a:hover {
  color: #fff;
}
nav li a:hover .inner {
  height: 76px;
  margin-left: -38px;
  margin-top: -38px;
  width: 76px;
}
