.menu-icon{
    @apply w-[25px] h-[25px] relative;
}
.menu-link {
    @apply flex flex-grow justify-center
}
.icon-container{ 
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  text-decoration: none;
  width: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}
.icon-container:hover{
  color: #fff;
}
  
.inner{
  background-color: #20826c;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  width: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.icon-container:hover .inner {
  height: 76px;
  margin-left: -38px;
  margin-top: -38px;
  width: 76px;
}
.menu-button {
 @apply text-black from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br hover:text-white ring-4 shadow-lg shadow-blue-500/50 dark:shadow-lg flex dark:shadow-blue-800/80 font-medium rounded-full text-sm py-2 px-2 text-center;
}